<div class="d-flex justify-content-center align-items-center" style="height: 90vh; background-image: url('https://img.freepik.com/free-vector/modern-abstract-white-minimal-background_84443-8335.jpg?t=st=1722366549~exp=1722370149~hmac=ecf29135daaafe79d0b000feca3c3e23871b26d0b51f55a4814a2f9755cafa7b&w=1380');">
  <div class="d-flex flex-column text-center">
    <h1 class="display-1">Cadastro de Vendedores</h1>
    <p>Sistema para Cadastrar, Listar, Editar e remover vendedores</p>
    <button type="button" class="btn btn-outline-dark">Começar o Cadastro</button>
  </div>
</div>
