<div class="d-flex flex-column justify-content-center bg-dark text-white p-3 rounded-4 shadow h-100">
  <div class="display-6 mb-4 text-center fw-semibold">
    Cadastrar Vendedor
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form class="row g-3">
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Nome</label>
          <input type="text" class="form-control innerShadow" id="inputName" name="name" [(ngModel)] = "seller.name">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Salário</label>
          <input type="number" class="form-control innerShadow" name="salary" [(ngModel)] = "seller.salary" id="inputPassword4">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label ">Gênero</label>
          <select id="inputState" class="form-select innerShadow" name="gender" [(ngModel)] = "seller.gender">
            <option selected value="0">Escolha...</option>
            <option *ngFor="let gender of genders" [ngValue]="gender">
              {{gender.name}}
            </option>
          </select>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-success mt-3" (click)="save()">Salvar</button>
          <button type="button" class="btn btn-danger mt-3 ms-2">Cancelar</button>
        </div>
      </form>

    </div>
  </div>
</div>